/*INDEX STYLE*/
body {
    font-family: 'Fraunces', serif;
}

/*STYLING THE HEADER*/
section {
    background: linear-gradient(96deg,#DDC2C1,#779CCA,#7176B6 );
    color: rgba(46, 3, 68, 0.489);
}
#logo{
    max-width: 40%;
}



  /*STYLING THE MENU*/
.nav-link:hover{
    background-color: #8e03f1;
    cursor: pointer;
}


